{% extends 'test-dashboard.html' %}

{% block pagetitle %}
Outside Vehicle Dashboard
{% endblock %}
<!-- End of Page Title BLock-->


<!--Title Block-->
{% block title %}
Dashboard for 
{% endblock %}
<!--End of Title Block-->

{% block linktitle %}
 Outside Vehicle Data 
{% endblock %}

{% block body %}
<div class="row" id="vehicle_card">
        <div class="col">
                <div class="card">
                    <h5 class="card-header"> Outside Vehicles Summary</h5>
                    <div class="card-body">
                        <div class="card-text">
                            <h4 class="card-title">Today's Count</h4>
                            <p class="display-4">{{query_vehicles_today}}</p>
                            <h4 class="card-title"> Total Vehicles</h4>
                            <p class="display-4">{{query_vehicles_all}}</p>
    
                        </div>
    
                    </div>
                </div>
            </div>
        <div class="mr-4 col">
            <div class="card">
                <h5 class="card-header">Date Wise Summary</h5>
                <div class="card-body">
                    <canvas id="outsidevehiclechart">
                        
                    </canvas>
                </div>
            </div>
            
        </div>
</div>
<script src="{{url_for('static', filename='js/chart.min.js')}}"></script>
<script type="text/javascript">
var ctx = document.getElementById('outsidevehiclechart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:[
        {% for i in total_count %}
                "{{i[0]}}",
        {% endfor %}
        ], 
        datasets: [{
            label: '{{legend}}',
            data: [
                {% for i in total_count %}
                    {{i[1]}},
                {% endfor %}
            ],
            
            borderColor: [
                'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>

{%endblock%}