{% extends 'test-dashboard.html' %}


{% block pagetitle %}
Edit Mill Vehicle Data 
{% endblock %}

{% block title %} Edit Mill Vehicle Data {% endblock %}


{% block body %}
<div class=" row ">
        <div class="col-3 mt-3">
            <div class="card ml-3">
                <h4 class="card-header text-center">
                   Back Date Data Edit
                </h4>
                <div class="card-body">
                    <div class=" ml-2">
                       
                                        <form method="POST" action="{{url_for('edit.edit_millVehicle')}}">
                                            <div class="form-group">
                                                <label for="selected_date">Choose Date:</label>
                                                <input class="form-control" type="date" name="selected_date">
                                                <input class="btn btn-success btn-block mt-2" type="submit" value="Get">
                                            </div>
                                        </form>
                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="col mt-3">
            <div class="card">
                <h4 class="card-header">Edit Mill Vehicle Data  </h4>
                <div class="card-body">
            
                        <table id="editmillVehicle" class="mb-0   table table-borderless table-sm table-hover">
                                <thead>
                                    <th>#</th>
                                    <th>Vehicle No</th>
                                    <th>Department</th>
                                    <th>Out Time</th>
                                    <th>In Time</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                        {% for v in backdate_mill %}
                                        <tr id="datasectionmill{{v.id}}">
                                            <td></td>
                                            <td><strong>{{v.comp_timesheet.comp_vehicle_no}}</strong><span>
                                                    ({{v.comp_timesheet.model_name}})</span></td>
                                            <td>{{v.mill_dept.department_name}}</td>
                                            <td>{{v.OutTime}}</td>
                                            
                                                <input type="hidden" value="{{v.id}}" name="vid">
                                                <td><input value="{{v.InTime}}" class="form-control col form-control-sm" type="time"
                                                        name="intime" id="intime{{v.id}}"></td>
                                                <td><button attributes="{{v.id}}" type="submit" class="updatemill btn btn-sm  btn-warning" value="UPDATE">Update</button>
                                                </button></td> 
                                                
                                                </tr> 
                                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                </div>
            </div>

        </div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    var addSerialNumber = function(){
        $('#editmillVehicle tr').each(function(index){
            $(this).find('td:nth-child(1)').html(index+0);
        });
    };
    
    addSerialNumber();
</script>
{% endblock %}