{% extends 'test-dashboard.html' %}

{% block pagetitle %}
    Visitors Report
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/print-format.css')}}">
{% endblock %}

{% block title %} Reports  {% endblock %}

{% block linktitle %} Visitors {% endblock %}

{% block body %}
<div class="row">
    <div class="col col-md-2">
            <div class="card">
                    <h5 class="card-header text-center">Print</h5>
                        <div class="btn-group-vertical p-2">
                            <button type="button" data-toggle="modal" data-target="#datewisemodal"  class="btn btn-secondary mb-2 rounded-bottom "> Date Wise Report</button>
                            <button data-toggle="modal" data-target="#departmentwisemodal" class="btn btn-secondary rounded "> Department Wise Report</button>
                            <button data-toggle="modal" data-target="#personwisemodal" class="btn btn-secondary mt-2 rounded "> Person Wise Report</button>
                        </div>
                    </div>
    </div>


    <div class="modal fade" id="datewisemodal" tabindex="-1" role="dialog" aria-labelledby="datewisemodallabel" aria-hidden="true">
            <div class="modal-dialog" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Date Wise Report </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                            <form class="form-row" action="{{url_for('report.report_print')}}" method="POST">
                            <input type="hidden" name="printid" value="1">
                            <label class=" mb-2 h6 col-form-label" for="#date">Select Date : </label>
                            <input id="date" type="date" class="form-control" name="date" autofocus>
                            
                            <input type="submit"  class="mt-2 btn btn-primary btn-block btn-sm" value="Print">
                              
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="departmentwisemodal" tabindex="-1" role="dialog" aria-labelledby="departmentwise" aria-hidden="true">
            <div class="modal-dialog" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Date Wise Report </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                            <form class="form-row" action="{{url_for('report.report_print')}}" method="POST">
                            <input type="hidden" name="printid" value="9">
                            <label class=" mb-2 h6 col-form-label" for="#date">Select Date : </label>
                            <input id="date" type="date" class="form-control" name="date" autofocus>
                            <label class="mb-2 h6 col-form-label" for="#department">Select Department</label>
                            <select class="form-control" name="department">
                                {% for d in departments %}
                                <option value="{{d.id}}">{{d.department_name}}</option>
                                {% endfor %}
                            </select>
                            <div class="mt-2 form-check">
                                    <input id="alldeptcheck" class="form-check-input" type="checkbox" name="deptcheck" value="1">
                                    <label class="form-check-label" for="alldeptcheck"> Sorted by all department?</label>
                            </div>
                            
                            <input type="submit"  class="mt-2 btn btn-primary btn-block btn-sm" value="Print">
                              
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="personwisemodal" tabindex="-1" role="dialog" aria-labelledby="personwisemodal" aria-hidden="true">
                <div class="modal-dialog" role="form">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"> Date Wise Report </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                                <form class="form-row" action="{{url_for('report.report_print')}}" method="POST">
                                <input type="hidden" name="printid" value="8">
                                <label class=" mb-2 h6 col-form-label" for="#date">Select Date : </label>
                                <input id="date" type="date" class="form-control" name="date" autofocus>
                                
                                <input type="submit"  class="mt-2 btn btn-primary btn-block btn-sm" value="Print">
                                  
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>


    <div class="col-10 mt-1">
            <div id="allvisitor" class="card">
                    <div class="card-header text-center">
                        
                        <h6 class="text-black">ALL VISITOR SLIP</h6>
                    </div>
            
                    <div class="card-body">
                        <table  id='all-visitoreport' 
                        class=" display compact table table-responsive  table-bordered table-striped ">
                            <thead class="thead-light">
                                <tr class="">
                                    
                                    <th>Entry date</th>
                                    <th>Visitor Name</th>
                                    <th>Extra</th>
                                    <th>Contact Number</th>
                                    <th>Visitor Company</th>
                                    <th>Visiting Person</th>
                                    <th>Visiting Department</th>
                                    <th>Visiting Purpose</th>
                                    <th>In Time</th>
                                    <th>Out Time</th>
                                    <th>Total Duration</th>
                                    <th>Actions</th>
            
                                </tr>
                            </thead>
                            <tbody>
                                {% for vi in visitors %}
                                <tr>
                                    
                                    <td>{{vi.date.strftime('%d-%m-%Y')}}</td>
                                    <td>{{vi.a_timelog.name.title()}}</td>
                                    <td>{{vi.extras}}</td>
                                    <td>{{vi.a_timelog.contact}}</td>
                                    <td>{{vi.a_timelog.place_from.title()}}</td>
                                    {% if vi.active.visited_dept.department_name == None %}
                                    <td>None</td>
                                    {% else %}
                                    <td>{{vi.active.visited_employee.employee_name.title()}}</td>
                                    {% endif %}

                                    {% if vi.active.visited_dept.department_name == None %}
                                    <td></td>
                                    {% else %}
                                    <td>{{vi.active.visited_dept.department_name}}</td>
                                    {% endif %}
                                    
                                    <td>{{vi.active.visiting_purpose.title()}}</td>
                                    <td>{{vi.in_time}}</td>
                                    <td>{{vi.out_time}}</td>
                                    <td>{{vi.duration}}</td>
                                    <td><button id="visitor-delete" type="button" value="Actions" class="btn btn-sm btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                        <div class="dropdown-menu" aria-labelledby="visitor-delete">
                                               <div>
                                                    <form action="{{url_for('dataentry.visitors_delete')}}" method="POST">
                                                            <input type="hidden" name="vi_id" value="{{vi.id}}">
                                                            <input class="dropdown-item" type="submit" value="Delete">
                                                               
                                                    </form>

                                               </div>
                                               
                                        </div>  </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    
                                    <th>Entry date</th>
                                    <th>Visitor Name</th>
                                    <th>Extra</th>
                                    <th>Contact Number</th>
                                    <th>Visitor Company</th>
                                    <th>Visiting Department</th>
                                    <th>Visiting Person</th>
                                    <th>Visiting Purpose</th>
                                    <th>In Time</th>
                                    <th>Out Time</th>
                                    <th>Total Duration</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
            
                    </div>
                </div>
    </div>
</div>

</div>
</div>


{% endblock %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function() {
        var t = $('#all-visitoreport').DataTable({
            scrollY :500
            
        });


} );
</script>


<script>
    $('.modal').on('shown.bs.modal', function() {
  $(this).find('[autofocus]').focus();
});
</script>
{% endblock %}