{% extends 'test-dashboard.html' %}

{% block pagetitle %}
    Frequent Visitors
{% endblock %}

{% block title %}Department Wise  {% endblock %}

{% block linktitle %} Visitors {% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <div class="card">
            <h4 class="card-header text-left">Main Section</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <h5 class="card-header text-center">Select Department</h5>
                                <div class="card-body">
                                    <form action="{{url_for('report.department_visitors')}}" method="POST">
                                        <select class="mb-2 form-control" name="dept_id" id="dept_select">
                                            {% for d in department %}
                                            <option value="{{d.id}}">
                                                {{d.department_name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <input id="deptbtn" type="submit" class=" btn btn-primary btn-block">
                                    </form>
                                </div>
                            </div>
                            <div class="mt-2 card">
                                <h5 class="card-header">Total Count:</h5>
                                <div class="card-body text-center">
                                    {% if count != 0 %}
                                    <p class=" display-4">{{count}}</p>
                                    {% else %}
                                    <p class=" font-weight-bold">Please select a Department</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card">
                                <h5 class="card-header text-center">Data grouped by Visiting Purpose </h5>
                                <div class="card-body">
                                    <h6 class="card-title font-italic font-weight-bold mb-4">Department : {{dept_name.title()}}</h6>
                                    <table id="deptable" class="table-responsive table table-bordered table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Visitor Name</th>
                                                <th>Place From</th>
                                                <th>Employee Name</th>
                                                <th>Visiting Purpose</th>
                                                <th>In Time</th>
                                                <th>Out Time</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                                
                                                {% for i in timelog %}
                                            
                                                    <tr>
                                                        <td>{{i.date.strftime('%d-%m-%Y')}}</td>      
                                                        <td>{{i.a_timelog.name.title()}}</td>
                                                        <td>{{i.a_timelog.place_from.title()}}</td>
                                                        <td>{{i.active.visited_employee.employee_name.title()}}</td>
                                                        <td>{{i.active.visiting_purpose.title()}}</td>
                                                        <td>{{i.in_time}}</td>
                                                        <td>{{i.out_time}}</td>    
                                                    </tr>
                                              
                                                {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
        </div>
        
    </div>


</div>

{% endblock %}

{% block script %}
    <script>
            $(document).ready(function() {
                var groupColumn = 4;
                var table = $('#deptable').DataTable({
                    "columnDefs": [
                        { "visible": false, "targets": groupColumn }
                    ],
                    "order": [[ groupColumn, 'asc' ]],
                    "displayLength": 25,
                    "drawCallback": function ( settings ) {
                        var api = this.api();
                        var rows = api.rows( {page:'current'} ).nodes();
                        var last=null;
             
                        api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                            if ( last !== group ) {
                                $(rows).eq( i ).before(
                                    '<tr class="group font-weight-bold  bg-dark text-white"><td colspan="6">'+group+'</td></tr>'
                                );
             
                                last = group;
                            }
                        } );
                    }
                } );
             
                // Order by the grouping
                $('#deptable tbody').on( 'click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                        table.order( [ groupColumn, 'desc' ] ).draw();
                    }
                    else {
                        table.order( [ groupColumn, 'asc' ] ).draw();
                    }
                } );
            } );
    </script>
    <script>
    
       
    </script>
{% endblock %}