{% extends 'test-dashboard.html' %}

{% block pagetitle %}
    Visitors Report
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/print-format.css')}}">
{% endblock %}

{% block title %} Reports  {% endblock %}

{% block linktitle %} Visitors {% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
            <div class="card">
                    <h5 class="card-header text-center">Print</h5>
                        <div class="btn-group-vertical p-2">
                            <button type="button" data-toggle="modal" data-target="#datewisemodal"  class="btn btn-secondary mb-2"> Date Wise Report</button>
                            <button href="#" class="btn btn-secondary "> Department Wise Report</button>
                        </div>
                    </div>
    </div>
    <div class="modal fade" id="datewisemodal" tabindex="-1" role="dialog" aria-labelledby="datewisemodallabel" aria-hidden="true">
            <div class="modal-dialog" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Date Wise Report </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                            <form class="form-row" action="{{url_for('report.report_print')}}" method="POST">
                            <input type="hidden" name="printid" value="1">
                            <label class=" mb-2 h6 col-form-label" for="#date">Select Date : </label>
                            <input id="date" type="date" class="form-control" name="date" autofocus>
                            <input type="submit"  class="mt-2 btn btn-primary btn-block btn-sm" value="Print">
                              
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    <div class="col">
            <div id="allvisitor"  class="card" >
                    <div class="card-header text-center">
                        <h5 class="text-black">Siddhi Vinayak Knots & Prints Pvt. Ltd.</h5>
                        <p class="text-muted">A-26 To A-32, "Central Park", G.I.D.C Pandesra, SURAT-394221.
                        </p>
                        <h6 class="text-black">ALL VISITOR SLIP</h6>
                    </div>
            
                    <div class="card-body">
                        <table  id='all-visitoreport' 
                        class=" table table-sm table-bordered table-striped ">
                            <thead class="thead-light">
                                <tr class="">
                                    
                                    <th>Entry date</th>
                                    <th>Visitor Name</th>
                                    <th>Contact Number</th>
                                    <th>Visitor Company</th>
                                    <th>Visiting Person</th>
                                    <th>Visiting Department</th>
                                    <th>Visiting Purpose</th>
                                    <th>In Time</th>
                                    <th>Out Time</th>
                                    <th>Total Duration</th>
            
                                </tr>
                            </thead>
                            <tbody>
                                {% for vi in visitors %}
                                <tr>
                                    
                                    <td>{{vi.date.strftime('%d-%m-%Y')}}</td>
                                    <td>{{vi.a_timelog.name}}</td>
                                    <td>{{vi.a_timelog.contact}}</td>
                                    <td>{{vi.a_timelog.place_from}}</td>
                                    {% if vi.active.visited_dept.department_name == None %}
                                    <td>None</td>
                                    {% else %}
                                    <td>{{vi.active.visited_employee.employee_name}} </td>
                                    {% endif %}

                                    {% if vi.active.visited_dept.department_name == None %}
                                    <td>None</td>
                                    {% else %}
                                    <td>{{vi.active.visited_dept.department_name}}</td>
                                    {% endif %}
                                    <td>{{vi.active.visiting_purpose}}</td>
                                    <td>{{vi.in_time}}</td>
                                    <td>{{vi.out_time}}</td>
                                    <td>{{vi.duration}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    
                                    <th>Entry date</th>
                                    <th>Visitor Name</th>
                                    <th>Contact Number</th>
                                    <th>Visitor Company</th>
                                    <th>Visiting Department</th>
                                    <th>Visiting Person</th>
                                    <th>Visiting Purpose</th>
                                    <th>In Time</th>
                                    <th>Out Time</th>
                                    <th>Total Duration</th>
                                </tr>
                            </tfoot>
                        </table>
            
                    </div>
                </div>
    </div>
</div>

</div>
</div>


{% endblock %}

{% block script %}
<script>
    $('.modal').on('shown.bs.modal', function() {
  $(this).find('[autofocus]').focus();
});
</script>
{% endblock %}