{% extends 'test-dashboard.html' %}

{% block pagetitle %}
Outside Vehicles Report
{% endblock %}

{% block title %}Report: {% endblock %}
{% block linktitle %} Outside Vehicles {% endblock %}


{% block body %}
<div class="row">
    <div class="col-2">
            <div class="card">
                <h5 class="card-header text-center">Print </h5>
                    <div class="btn-group-vertical p-2">
                        <button type="button" data-toggle="modal" data-target="#datewisemodal"  class="btn btn-secondary mb-2"> Date Wise Report</button>
                        
                    </div>
                </div>
    </div>
    <div class="modal fade" id="datewisemodal" tabindex="-1" role="dialog" aria-labelledby="datewisemodallabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Date Wise Report </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <form class="form-row" action="{{url_for('report.report_print')}}" method="POST">
                        <input type="hidden" name="printid" value="2">
                        <label class=" mb-2 h6 col-form-label" for="#date">Select Date : </label>
                        <input id="date" type="date" class="form-control" name="date" autofocus>
                        <input type="submit"  class="mt-2 btn btn-primary btn-block btn-sm" value="Print">
                          
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div id="all-outsidevehiclecard" class="col">
        <div class="card">
                <div class="card-header text-center">
                    <h5 class="text-black">Siddhi Vinayak Knots & Prints Pvt. Ltd.</h5>
                    <p class="text-muted">A-26 To A-32, "Central Park", G.I.D.C Pandesra, SURAT-394221.
                    </p>
                    <h6 class="text-black">OUTSIDE VEHICLE REPORT</h6>
                </div>
                <div class="card-body">
                    <table id='all-vehiclereport'
                        class=" table table-sm table-bordered table-striped " style="width: 100%">
                        <thead class="">
                            <tr>
                                
                                <th>Entry date</th>
                                <th>Vehicle NO</th>
                                <th>Vendor Name</th>
                                <th>Department</th>
                                <th>In Time</th>
                                <th>Out Time</th>
                                <th>Total Duration</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in query_vehicles_outside %}
                            <tr>
                                
                                <td>{{v.VeEntryDate.strftime('%d-%m-%Y')    }}</td>
                                <td>{{v.VeNO}}</td>
                                <td>{{v.VendorName}}</td>
                                <td>{{v.outside_dept.dept_name}}</td>
                                <td> {{v.InTime}} </td>
                                <td>{{v.OutTime}} </td>
                                <td> {{v.TotalDuration}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <th>Entry Date</th>
                            <th>Vehicle No</th>
                            <th>Vendor Name</th>
                            <th>Vehicle Type</th>
                            <th>In Time</th>
                            <th>Out Time</th>
                            <th>Total Duration</th>
                        </tfoot>
                    </table>
    
                </div>
        </div>
    </div>
</div>

         <!--All Vehicles Report -->
        
    </div>
</div>



   
{% endblock %}

{% block script %}
<script>
    $('.modal').on('shown.bs.modal', function() {
  $(this).find('[autofocus]').focus();
});
</script>
{% endblock %}