{% extends 'test-dashboard.html' %}

{% block pagetitle %}
Visitor Dashboard
{% endblock %}

{% block title %} Summary DashBoard {% endblock %}

{% block body %}

<div class="container-fulid">
    <div id="visitor_card" class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header"> Visitors Summary</h5>
                <div class="card-body">
                    <div class="card-text">
                        <h4 class="card-title">Today's Count</h4>
                        <p class="display-4">{{query_visitors_today}}</p>
                        <h4 class="card-title"> Total Visitors</h4>
                        <p class="display-4">{{query_visitors_all}}</p>

                    </div>

                </div>
            </div>
        </div>
        <div class=" mr-4 col">
            <div class="card">
                    <h5 class="card-header"> Date Wise Summary </h5>
                <div class="card-body">
                    <canvas id="linechartforvisitors" >

                    </canvas>
                </div>
            </div>
        </div> 
    </div>

    <div class="row">
        
        <div class="col mr-4 mt-1">
            <div class="card">
                <h5 class="card-header">Department Wise Summary </h5>
                <div class="card-body">
                    <canvas id="barchartfordept">

                    </canvas>               
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

<script src="{{url_for('static', filename='js/chart.min.js')}}"></script>
<script type="text/javascript">
var ctx = document.getElementById('linechartforvisitors').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:[
        {% for i in total_count %}
                "{{i[0]}}",
        {% endfor %}
        ], 
        datasets: [{
            label: '{{legend}}',
            data: [
                {% for i in total_count %}
                    {{i[1]}},
                {% endfor %}
            ],
            
            borderColor: [
                'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>

<script type="text/javascript">
    
var deptctx = document.getElementById('barchartfordept').getContext('2d');
var myChart = new Chart(deptctx, {
    type: 'bar',
    data: {
        labels:[
        {% for i in dept_count %}
                "{{i[0]}}",
        {% endfor %}
        ], 
        datasets: [{
            label: 'Visitors by Departments',
            data: [
                {% for i in dept_count %}
                    {{i[1]}},
                {% endfor %}
            ],
            
            borderColor: [
                'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{%  endblock %}